@charset "UTF-8";

.ui-markerselect {
  width: 75px;
  height: 60px;
  border: 1px solid silver;
  border-radius: 5px;
  position: relative;
  background-color: silver; /* for unsupported browers */
  background:
    -webkit-gradient(
      linear,
      left bottom, left top,
      color-stop(0.39, rgb(209,209,209)),
      color-stop(0.85, rgb(245,245,245)),
      color-stop(1, rgb(235,235,235))
    );
  background:
    -moz-linear-gradient(
      center bottom,
      rgb(209,209,209) 39%,
      rgb(245,245,245) 85%,
      rgb(235,235,235) 100%
    );
  margin: 5px 0 5px 0;
  cursor: pointer;
  z-index: 255;
  display: table;
}

.ui-markerselect .markerwrapper {
  position: absolute;
  width: 55px;
  height: 100%;
  left: 5px;
  display: table;
}

.ui-markerselect .shadow {
  position: static;
  width: 100%;
  height: 100%;
  background: url("../img/cross.gif") center center no-repeat;
  display: table-cell;
  vertical-align: middle;
}

.ui-markerselect .shadow .icon {
  position: static;
  left: 0;
  top: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.ui-markerselect:after {
  width: 9px;
  height: 5px;
  position: absolute;
  content: url("../img/dropdown.gif");
  right: 2px;
  top: 15px;
}

.ui-markerselect.active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
  background: white;
}

.ui-markerselect.active:after {
  content: url("../img/rollup.gif");
  top: 12px;
}


.ui-markerselect-list {
  position: absolute;
  top: 60px; 
  width: 400px;
  margin: 0 0 0 -1px; /* align borders */
  height: 150px; /* will do for now */
  border: 1px solid silver;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: white;
  cursor: auto;
  box-shadow: 5px 5px 10px #000;
  --webkit-box-shadow: 5px 5px 10px #000;
}
